#chatDisplayRowContainer.container
    row(style='padding-top:40px;')
        h3.text-center.panel.panel-info.panel-heading AXA Communicate
        br
        .col-md-2
            .panel.panel-warning
                .panel-heading Profile
                .panel-body
                    ul.media-list
                        li.media
                            a#changeAvatarAnchor.popper(data-toggle='popover', href='#')
                                img#myAvatarImage.img-responsive(alt='', src='images/avatar/mustacheMan.png')

                        li.media
                            span#currentUserInfoSpan  
        .col-md-6
            .panel.panel-info
                .panel-heading Public Talk History
                #publicChatHistoryDiv.panel-body.panel-height
                    ul#chatHistoryAllList.media-list
                .panel-footer
                    .input-group
                        input#message-box.form-control.input-lg(type='text', placeholder='Write a message here...', rows='3')
                        span.input-group-btn
                            button#send-message-btn.btn.btn-info(type='button') Send Message
        .col-md-3
            .panel.panel-primary
                .panel-heading ONLINE USERS
                .panel-body
                    ul#onlineUsersList.media-list
#sound.container

