.col-md-6
          ul#chatTabUL.nav.nav-tabs
            li#globalChatUlLi.active
              a#globalAnchor(data-toggle='tab',aria-expanded="true", href='#publicChatHome') Public

          #chatTabContentDiv.tab-content.nav-justified
            #publicChatHome.tab-pane.fade.in.active
              .panel.panel-info
                #publicChatHistoryDiv.panel-body.panel-height
                  ul#chatHistoryAllList.media-list
                .panel-footer
                  .input-group
                    input#publicMessageBox.form-control.input-lg(type='text', placeholder='Write a message here...', rows='3')
                    span.input-group-btn
                      button#publicMessageSendBtn.btn.btn-info(type='button') Send Message
