extends layout

block content
    #wrapper
        include ./navbar
        include ./pagewrapper
        #sound.container

block body_end
    script(type='text/javascript', src='/js/titlealert.js')
    script(type='text/javascript', src='/js/chatSockets.js')
    script(type='text/javascript', src='/js/index.js')
    script(type='text/javascript', src='/js/login.js')
    script(type='text/javascript' src='/js/imagepicker/image-picker.min.js')
    script(type='text/javascript' src='/js/facebox.js')