doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/bootstrap-theme.min.css')
    link(rel='styleSheet' href='/css/modalAnimate/animate.min.css')
    link(rel='styleSheet' href='/css/login.css')
    script(type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/modalAnimate/animatedModal.min.js')

block content
  #animatedModal
    .close-animatedModal
      | CLOSE MODAL
    .modal-content
      #loginPageContainerDiv.container
        #loginPageLoginBoxRowDiv.row.login_box
          .col-md-12.col-xs-12(align='center')
            .line
              h3 12 : 30 AM
            .outter
              img#loginPageGuestImgID.image-circle(src='images/avatar/defaultAvatar.png')
            h1 Hi Guest
            span INDIAN
          .col-md-6.col-xs-6.follow.line(align='center')
            h3
              | 125651
              br
              span FOLLOWERS
          .col-md-6.col-xs-6.follow.line(align='center')
            h3
              | 125651
              br
              span FOLLOWERS
          .col-md-12.col-xs-12.login_control
            .control
              .label Email Address
              input#loginID.form-control(type='text', value='admin@gmail.com')
            .control
              .label Password
              input#loginPassword.form-control(type='password', value='123456')
            div(align='center')
              button#loginBtnID.btn.btn-orange LOGIN

block body_end
    script(type='text/javascript', src='/js/login.js')


