.collapse.navbar-collapse.navbar-ex1-collapse
  ul.nav.navbar-nav.side-nav.side-nav-rtl.box-shadow
    li
      a(href='javascript:;', data-toggle='collapse', data-target='#chatTabUL')
        i.fa.fa-fw.fa-arrows-v
        |  Active Chats
      ul#chatTabUL.collapse.in
        li#publicChatTabUlLiID.active(tabindex='-1')
          a#publicAnchor(data-toggle='tab', aria-expanded='true', href='#publicChatHome') Public


   