.collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav.side-nav
        li.active
            a(href='#')
                i.fa.fa-fw.fa-dashboard
                |  Create Group
        li
            a(href='#')
                i.fa.fa-fw.fa-bar-chart-o
                |  Compose Email
        li
            a(href='#')
                i.fa.fa-fw.fa-table
                |  Support

   