#chooseUserNameContainer.container
    row(style='padding-top:40px;')
        h3.text-center.panel.panel-info.panel-heading AXA Communicate
        br
        .col-md-8
            .panel.panel-info
                .panel-heading Choose Username
                .panel-footer
                    .input-group
                        .col-sm-12.row
                            .col-sm-4
                                .col-sm-12.thumbnail.text-center
                                    a#chooseAvatarAnchor.popper(data-toggle='popover', href='#')
                                        img#myAvatarAtNameChooser.img-responsive(alt='', src='images/avatar/mustacheMan.png')
                                        .caption
                                            h10 Chose Avatar
                            .col-sm-6
                                label(for='userName') User name: (Hit Enter)
                                input#userName(type='text', size='30')
                        .col-sm-12.row
                            .col-sm-4
                                span#feedback



