#chooseUserNameContainer.container
  row(style='padding-top:40px;')
    h3.text-center.panel.panel-info.panel-heading AXA Communicate
    br
    .col-md-8.center-block
      .panel.panel-info
        .panel-heading Welcome to AXA Communicate
        .panel-footer
          .input-group
            .col-sm-12.row
              .col-sm-4
                .col-sm-12.thumbnail.text-center
                  a#chooseAvatarAnchor.popper(data-toggle='popover', href='#')
                    img#myAvatarAtNameChooser.img-responsive(alt='', src='images/avatar/defaultAvatar.png')
                    .caption
                      h10 Chose Avatar
              .col-sm-6
                row(style='padding-top:40px;')
                  br
                  label(for='userName') User name: (Hit Enter)
                  input#userName(type='text', size='30')
                row(style='padding-top:40px;')
                  br
                  label(for='password') Password
                  input#password(type='text', size='30')
                row(style='padding-top:40px;')
                  .col-sm-6(style='padding-top:10px;')
                    button#signInBtnID.btn.btn-info(type='button') Sign-in
                  .col-sm-6(style='padding-top:10px;')
                    button#signUpBtnID.btn.btn-info(type='button') Signup
            .col-sm-12.row
              .col-sm-4
                span#feedback
