#chooseUserNameContainer.container(style='padding-top:100px;')
    row(style='padding-top:40px;')
        .col-md-8.center-block
            .panel.panel-info
                .panel-heading Welcome to AXA Communicate
                .panel-footer
                    .input-group
                        .col-md-12.row
                            .col-md-4
                                .col-sm-12.thumbnail.text-center
                                    a#chooseAvatarAnchor.popper(data-toggle='popover', href='#')
                                        img#myAvatarAtNameChooser.img-responsive(alt='', src='images/avatar/defaultAvatar.png')
                                        .caption
                                            h10 Chose Avatar
                            .col-md-8
                                .col-md-12(style='padding-top:10px;')
                                    form.form-signin(action='/login', method='POST')
                                        input.form-control(style='padding-top:10px;', type='text', name='username', placeholder='Email', required='required', autofocus='autofocus')
                                        input.form-control(style='padding-top:10px;', type='password', name='password', placeholder='Password', required='required')
                                        button#signInBtnID.btn.btn-primary.btn-block(type='submit') Sign in
                                        span.clearfix
                                    a#signUpBtnID.text-center.new-account(href='/signup') Create an account
                    .col-sm-12.row
                        .col-sm-4
                            span#feedback