.panel-height {
  height: 400px;
  min-height: 10;
  max-height: 10;
  overflow-y: scroll;
}


.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
}

.nav-tabs{
  background-color:#d9edf7;
}
.tab-content{
    background-color:#428bca;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
   border: medium none;
   background-color: #d9edf7;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: #428bca !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.center-block {float: none !important}



